article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 1rem 0;
}

p {
  text-align: justify;
}

img {
  width: 75%;
  border-radius: 50%;
  border: 0.15rem solid #b12842;
}

h2 {
  text-align: center;
  color: #b12842;
  margin-bottom: 1rem;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
