* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #b12842;
}

.App {
  background-color: white;
}

/* HEADER */
header {
  min-height: 9.625rem;

  /* Background image for header */
  background-image: url('flowers.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  color: #b12842;
  padding: 2rem 0;
  text-align: center;
}

/* MAIN */
main {
  margin: 0 1rem;
}

/* FOOTER */
footer {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
}
