* {
  box-sizing: border-box;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #b12842;
}

.App {
  background-color: white;
}

/* MAIN */
main {
  margin: 0 1rem;
}

/* FOOTER */
footer {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
}

/* Tablet styling min-width 768px and max-width 1023px*/
@media screen and (min-width: 48rem) {
  h2 {
    font-size: 2rem;
    font-weight: 600;
  }
}

/* @media screen and (min-width: 48rem) and (max-width: 63rem) {} */
