/* h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.75;
  font-family: 500;
}

p {
  font-size: 1rem;
  line-height: 1.8;
}

a {
  color: #b12842;
}



label {
  display: block;
  margin: 1rem 0;
}



header,
main,
footer {
  margin: 0 1.5rem;
} */

/* Main */
/* .about {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}



.about p {
  text-align: justify;
}

.disability-article h2 {
  color: #b12842;
  text-align: center;
  margin: 1rem 0;
}

.disability-article figure {
  width: 50%;
  margin: 0 auto;
}

.disability-article figcaption {
  text-align: center;
  margin: 1rem 0;
}

.disability-article p {
  text-align: justify;
} */

/* Contact */
/* .contact h2 {
  margin: 1rem 0;
}



.contact h2 {
  color: #b12842;
} */

/* TESTING ONLY! */
/* .testing {
  background-color: lightblue;
  margin: 1rem;
  padding: 1rem;
}

.testing h3 {
  font-size: 2rem;
  font-weight: 500;
}

.testing ul {
  padding: 0 1rem;
}

.testing li {
  margin: 1rem 0;
  list-style: disc;
} */

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  /* background-color: #282c34; 
 
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  /* font-size: calc(10px + 2vmin); 
  color: #b12842;

  
} */
/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
